* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", "Arial", serif;
}

img {
  display: block;
}

.start {
  width: 1350px;
  height: 100px;
  background-color: white
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  position: absolute;
  left: 10px;
  font-size: 30px;
  font-weight: 700;
  color: #ffa500;
  text-decoration-line: none;
}

.navbar-list {
  display: flex;
  column-gap: 40px;
  margin-block: 0;
  padding-left: 0;
  list-style-type: none;
}

.navbar-link {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
  color: darkcyan;
  border: 1px solid darkcyan;
  border-radius: 20px;
  text-decoration-line: none;
  transition: color .2s linear, background-color .2s linear, border 0.2s linear;
}

.navbar-link:hover {
  color: #fff;
  background-color: #87ceeb;
  border: 1px solid transparent;
}

.navbar-link:active {
  color: #ffa500;
}