* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
}

img {
  display: block;
}

.start {
  width: 1350px;
  height: 100px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-inline: auto;
  padding-inline: 20px;
  box-shadow: 3px 3px 3px 4px grey;
}

.logo {
  position: absolute;
  left: 100px;
  top: 15px;
  border-radius: 5px;
  transition: box-shadow 0.3s linear;
}

.logo:hover {
  cursor: pointer;
  box-shadow: 3px 3px 3px grey;
}

.a-one {
  color: black;
  text-decoration-line: none;
  position: absolute;
  left: 650px;
  top: 40px;
  border-radius: 5px;
  transition: color 0.3s linear;
}

.a-one:hover {
  transition: box-shadow 0.3s linear;
  color: blue;
  box-shadow: 3px 3px 3px grey;
}

.a-two {
  color: black;
  text-decoration-line: none;
  position: absolute;
  top: 40px;
  left: 780px;
  border-radius: 5px;
  transition: color 0.3s linear;
}

.a-two:hover {
  transition: box-shadow 0.3s linear;
  color: blue;
  box-shadow: 3px 3px 3px grey;
}

.a-three{
  color: black;
  position: absolute;
  text-decoration-line: none;
  top: 40px;
  left: 950px;
  border-radius: 5px;
  transition: color 0.3s linear;
}

.a-three:hover {
  transition: box-shadow 0.3s linear;
  color: blue;
  box-shadow: 3px 3px 3px grey;
}

.a-four {
  color: black;
  text-decoration-line: none;
  position: absolute;
  border-radius: 5px;
  top: 40px;
  left: 1100px;
  transition: color 0.3s linear;
}

.a-four:hover {
  transition: box-shadow 0.3s linear;
  color: blue;
  box-shadow: 3px 3px 3px grey;
}

.fa-solid {
  color: black;
  position: absolute;
  right: 60px;
}

.fa-users {
  position: absolute;
  left: -25px;
}

.h3-one {
  color: black;
}

.img-one {
  width: 200px;
  border: 1px solid black;
  border-radius: 60px;
}

.mini {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 100px;
  left: 800px;
  border: 2px solid black;
  border-radius: 60px;
}